*

!.gitignore
!src/
!src/**
!gen/
!gen/android/
!gen/android/**
!capabilities/
!capabilities/**
!crates/
!crates/**
!icons/
!icons/**
!Cargo.toml
!Cargo.lock
!build.rs
!tauri.conf.json
!tauri.*.conf.json
