*

!.gitignore
!.github/
!.github/**
!src/
!src/**
!core/
!core/**
!extension/
!extension/**
!src-tauri/
!src-tauri/**
!public/
!public/**
!*.md
!LICENSE
!package.json
!bun.lock
!index.html
!tsconfig.json
!vite.config.ts
!scripts/
!scripts/**
