*

!.gitignore
!.github/
!.github/**
!.vscode/
!.vscode/**
!src/
!src/**
!core/
!core/**
!extension/
!extension/**
!src-tauri/
!src-tauri/**
!public/
!public/**
!README.md
!README.zh-CN.md
!CONTRIBUTING.md
!SECURITY.md
!LICENSE
!CLA.md
!package.json
!bun.lock
!index.html
!tsconfig.json
!tsconfig.node.json
!vite.config.ts
!scripts/
!scripts/**
release/
